<form [formGroup]="formGroup">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Add Your Mail</mat-label>
      <input  type="text" formControlName="email" matInput placeholder="Enter Email " required="required">
      <mat-hint [align]="'end'">up to 30 charector</mat-hint>
      <mat-icon matPrefix>mail</mat-icon>
</mat-form-field>
<mat-form-field class="w-100" appearance="outline">
    <mat-label>Add Name</mat-label>
      <input  type="text" formControlName="customerName" matInput placeholder="Enter Customer Name" required="required">
      <mat-hint [align]="'end'">up to 30 charector</mat-hint>
      <mat-icon matPrefix>person</mat-icon>
</mat-form-field>
<mat-form-field class="w-100" appearance="outline">
    <mat-label>Country</mat-label>
      <mat-select matInput> 
        <mat-option formControlName="country" *ngFor="let country of countrysList" value="country.id">
          {{country}}
        </mat-option>
        <!-- <mat-option value="Albania">Albania</mat-option>
        <mat-option value="Algeria">Algeria</mat-option>
        <mat-option value="Armenia">Armenia</mat-option>
        <mat-option value="Australia">Australia</mat-option>
        <mat-option value="Bangladesh">Bangladesh</mat-option>
        <mat-option value="Brazil">Brazil</mat-option>
        <mat-option value="Canada">Canada</mat-option>
        <mat-option value="China">China</mat-option>
        <mat-option value="Colombia">Colombia</mat-option>
        <mat-option value="Dominica">Dominica</mat-option>
        <mat-option value="Ethiopia">Ethiopia</mat-option>
        <mat-option value="France">Finland</mat-option>
        <mat-option value="France">France</mat-option>
        <mat-option value="Germany">Germany</mat-option>
        <mat-option value="Hawaii">Hawaii*</mat-option>
        <mat-option>Holy See</mat-option>
        <mat-option value="India">India</mat-option>
        <mat-option>Indonesia</mat-option>
        <mat-option value="Ireland">Ireland</mat-option>
        <mat-option>Italy</mat-option>
        <mat-option>Japan</mat-option>
        <mat-option>Kenya</mat-option>
        <mat-option>Korea</mat-option>
        <mat-option>Maldives</mat-option>
        <mat-option>Mexico</mat-option>
        <mat-option>Namibia</mat-option> -->
      </mat-select>
      <mat-hint [align]="'end'">Choose Country</mat-hint>
      <mat-icon matPrefix>place</mat-icon>
</mat-form-field>
<mat-form-field class="w-100" appearance="outline">
  <mat-label>City</mat-label>
    <input  type="text" [matAutocomplete]="citesAutocomplete" formControlName="city" matInput placeholder="City" required="required">
    <mat-hint [align]="'end'">up to 30 charector</mat-hint>
    <mat-icon matPrefix>place</mat-icon>
    <mat-autocomplete #citesAutocomplete="matAutocomplete">
      <mat-option *ngFor="let citys of cityNames" [value]="citys.id">{{citys.cityName}}</mat-option>
    </mat-autocomplete>
</mat-form-field>
<button mat-raised-button color="primary" class="mr">Save</button>
<button mat-raised-button color="accent" class="mr">Cancel</button>
<button mat-raised-button color="warn" class="mr">Delete</button>
</form>

